Repository drewnoakes/metadata-extractor, pull requests merged in 2019-09, with the labels that each got.

#433 Extend build matrix with more JDK versions
  .travis.yml
Labels: type-build

#438 Remove static state from MP4/QuickTime handlers
  Source/com/drew/imaging/mp4/Mp4Handler.java
  Source/com/drew/imaging/mp4/Mp4Reader.java
  Source/com/drew/imaging/quicktime/QuickTimeHandler.java
  Source/com/drew/imaging/quicktime/QuickTimeReader.java
  Source/com/drew/metadata/mov/QuickTimeAtomHandler.java
  Source/com/drew/metadata/mov/QuickTimeContext.java
  Source/com/drew/metadata/mov/QuickTimeHandlerFactory.java
  Source/com/drew/metadata/mov/QuickTimeMediaHandler.java
  Source/com/drew/metadata/mov/QuickTimeMetadataHandler.java
  Source/com/drew/metadata/mov/atoms/MediaHeaderAtom.java
  Source/com/drew/metadata/mov/atoms/TimeToSampleAtom.java
  Source/com/drew/metadata/mov/media/QuickTimeMusicHandler.java
  Source/com/drew/metadata/mov/media/QuickTimeSoundHandler.java
  Source/com/drew/metadata/mov/media/QuickTimeSubtitleHandler.java
  Source/com/drew/metadata/mov/media/QuickTimeTextHandler.java
  Source/com/drew/metadata/mov/media/QuickTimeTimecodeHandler.java
  Source/com/drew/metadata/mov/media/QuickTimeVideoHandler.java
  Source/com/drew/metadata/mov/metadata/QuickTimeDataHandler.java
  Source/com/drew/metadata/mov/metadata/QuickTimeDirectoryHandler.java
  Source/com/drew/metadata/mp4/Mp4BoxHandler.java
  Source/com/drew/metadata/mp4/Mp4Context.java
  Source/com/drew/metadata/mp4/Mp4HandlerFactory.java
  Source/com/drew/metadata/mp4/Mp4MediaHandler.java
  Source/com/drew/metadata/mp4/boxes/MediaHeaderBox.java
  Source/com/drew/metadata/mp4/boxes/TimeToSampleBox.java
  Source/com/drew/metadata/mp4/media/Mp4HintHandler.java
  Source/com/drew/metadata/mp4/media/Mp4MetaHandler.java
  Source/com/drew/metadata/mp4/media/Mp4SoundHandler.java
  Source/com/drew/metadata/mp4/media/Mp4TextHandler.java
  Source/com/drew/metadata/mp4/media/Mp4VideoHandler.java
Labels: format-mov

#436 Added support of standard ISO-8859-1 encoding
  Source/com/drew/metadata/iptc/Iso2022Converter.java
  Tests/com/drew/metadata/iptc/Iso2022ConverterTest.java
Labels: format-iptc
