Repository drewnoakes/metadata-extractor, pull requests merged in 2023-05, with the labels that each got.

#611 Fix PNG iTXt encoding issue
  Source/com/drew/imaging/png/PngMetadataReader.java
Labels: bug, format-png

#613 Set up GitHub actions for CI builds
  .github/workflows/maven.yml
  README.md
  build.gradle
  pom.xml
Labels: type-admin

#612 Fix Exif thumbnail offset
  Source/com/drew/imaging/png/PngMetadataReader.java
  Source/com/drew/imaging/tiff/TiffMetadataReader.java
  Source/com/drew/metadata/exif/ExifReader.java
  Source/com/drew/metadata/exif/ExifThumbnailDescriptor.java
  Source/com/drew/metadata/exif/ExifThumbnailDirectory.java
  Source/com/drew/metadata/exif/ExifTiffHandler.java
  Source/com/drew/metadata/photoshop/PhotoshopTiffHandler.java
  Source/com/drew/metadata/tiff/DirectoryTiffHandler.java
  Tests/com/drew/metadata/MetadataTest.java
  Tests/com/drew/metadata/exif/ExifDirectoryTest.java
  Tests/com/drew/metadata/exif/ExifThumbnailDescriptorTest.java
Labels: format-exif

#615 Fix encoding problem when CodedCharacterSet is set to "ESC - A"
  Source/com/drew/metadata/iptc/Iso2022Converter.java
  Tests/com/drew/metadata/iptc/Iso2022ConverterTest.java
Labels: format-iptc
